* {
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
text-align: center;
}


#vgQuestions{

}

#quiz{
    text-align: center;
    background: #97c4d2;
    border-radius: 14px;

}

.quiz.question{
    display: block;
    text-align: center;
}

.quiz.score{
    text-transform: uppercase;
    color: #fff;
}

.choice{
    display:inline-block;
    float: left;
    width: calc(50%-4px);
    border: 1px solid blue;
    border-radius: 100px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #778b92;
    padding: 20px;
    border-radius: 50px;
    border: none;
    transition: all 0.4s ease 0s;
    font-size: 16px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

    
}

.choice:hover {
    background-color: rgb(150, 202, 236);
    color: white;
  }

.choices:checked+label{
    background-color: rgb(150, 202, 236);
    color: white;
}
  

.choices{
    position: absolute;
    visibility: hidden;
    
    
}

.choice.left{

}

.choice.right{

}

.finalAnswer{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    
}


#quizContainer{
    text-align: center;
    text-transform: uppercase;
}

#quizContainer, button{

}

#resultPage{
    display: block;
    text-align: center

}