* {
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
text-align: center;
}

/* #vgQuestions{

}

#quiz{

}

.choice{
    
}

.choice.left{

}

.choice.right{

}

#finalanswer{}


#quizContainer{

}

#quizContainer, button{

}

#resultPage{

} */