* {
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
text-align: center;
}

#vgQuestions{

}

#quiz{
    text-align: center;

}

.quiz.question{
    display: block;
    text-align: center;
}

.choice{
    display:inline-block;
    float: left;
    width: 50%;
}

.choice.left{

}

.choice.right{

}

#finalanswer{
    
}


#quizContainer{
    text-align: center;
}

#quizContainer, button{

}

#resultPage{
    display: block;
    text-align: center

}